*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
  
}
body{
  width: 100%;
}

.carousel-item img{
  width: 100%;
  height: 90vh;
}
.about_img{
  min-width: 100%;
  max-height: 280px;
 
}
.texts h1{
  color: red;
}
.btn:hover{
  color: rgb(236, 251, 23);
}
.malebox{
  margin-left: 20px;
}
.form{
  gap: 50px;
}
.carousel-item img{
  filter: blur(5px);
}

.btn-secondary{
  width: 45vh;
}
@media (min-width: 1200px){
.accordion{
  padding-left: 10rem;
  padding-right: 10rem;
}
.parent-nav a{
  flex-direction: row;
  display: flex;
}
h5{
  margin-left: 0.8rem;
}
.content1{
  gap: 14rem;
}



}
@media (max-width: 500px){
.accordion{
  padding-left: 30px;
  padding-right: 30px;
}
.carousel-item img{
  height:60vh;
}
.content1{
  flex-direction:column;
  text-align: center;
  gap: 1.5rem;
}

.login-txt{
  margin-left: 3rem;
}
.col{
  margin-left: 3.5rem;
}



}
.accordion-button{
  height: 3.8rem;
}
.carousel-caption{
  bottom: 12rem;
}
.lists ul {
  list-style: none;
 
}
a{
  text-decoration: none;
}
/*.col img{
  width: 100vw;
  height: 80vh;
  background:url(./photo-1439792675105-701e6a4ab6f0.jpg);
  filter: blur(8px);
  background-size:cover;
  background-blend-mode:darken;
  
  
}*/
.lists{
  margin-top: 8px;
  background: url(./photo-1439792675105-701e6a4ab6f0.jp);
  

}
.lists a{
  color: rgb(19, 224, 19);
  margin-top: 1rem;
  font-size: 18px;
}
.last-container{
  width: 100%;
  height: auto;
  background-color: #E8CEBF;
}
.content1{
  display: flex;
  justify-content: center;
  margin: 25px;
  color: #FFCC66;
  list-style-type: none;
  
}
.content1 a{
  color: #FFCC66;
}
.content1 li a{
  color: rgb(124, 30, 104);
  
}

li{
  flex-direction:column;
  display: flex;
}

.col h5{
  width: 10rem;
}
.login-txt{
  
  width: 10rem;
}
.third-lists{
  width: 10rem;
}
.footer-lists{
  background-image:linear-gradient(to right,#02aab0,#00cdac);
 
}
hr{
  background-color: rgb(13, 163, 58);
}
.second-lists{
  width: 10rem;
}




/*.accordion{
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 5px;
  border:1px solid springgreen
}

/*Responsive css code*/
/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/